.header {
  height: 30px;
  background-color: black;
  color: white;
  padding: 15px 10px;
  display: flex;
  justify-content: flex-end;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.post-container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.btn {
  padding: 4px 8px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  margin: 0px 10px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.normal-btn {
  background-color: #2aabe2;
}

.warning-btn {
  background-color: red;
}

.input {
  margin-bottom: 5px;
  width: 200px;
  font-size: 16px;
}

.full-width {
  width: 100%;
}

.input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}
